.loading::after {
  content: '';
  position: absolute;
  width: 2em;
  aspect-ratio: 1 / 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: .25em solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
